/* Panel base - aplicable a dispositivos móviles */
.slide-panel {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
    transition: bottom 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: flex-start;
}

/* Cuando el panel está abierto */
.slide-panel.open {
    bottom: 0;
}

/* Ajustes para pantallas grandes (desktop) */
@media (min-width: 768px) {
    .slide-panel {
        width: 450px; 
        height: 100%; 
        top: 0;   
        bottom: auto; 
        right: auto; 
        left: -490px;   
        padding-left: 20px;
        padding-right: 20px;
        transition: left 0.3s ease;
    }

    .slide-panel.open {
        left: 0; 
    }
}

/* Botón de cierre */
.close-panel {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f1f1f1;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #ff610f;
    padding: 8px;
    border-radius: 20%;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Efecto hover */
.close-panel:hover {
    background-color: #ff610f; 
    color: #ffffff; 
    transform: scale(1.1); 
}
/* Contenedor de la imagen */
.panel-img-container img {
    width: 100%;
    /* max-width: 250px; */
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Contenedor principal de contenido */
.panel-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

/* Título del panel */
.panel-content h3 {
    padding-top: 5%;
    margin: 0;
    font-size: 24px;
    color: #333333;
    text-align: center;
}

/* Elementos de detalles generales */
#panel-rating, #panel-location, #panel-contact {
    font-size: 16px;
    color: #555;
    text-align: center;
    margin-bottom: 5px;
}

/* Detalles específicos en lista */
#panel-prices ul, #panel-services ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #333;
    margin-top: 0;
}

/* Fotos adicionales */
.panel-photos {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.panel-photos img {
    width: 100px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Botón de acción */
.action-button {
    padding: 10px 20px;
    background-color: #ff610f;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #e5550d;
}

/* Ajuste para panel-content si está encima del pie de página */
.panel-content {
    overflow-y: auto;
    padding-bottom: 5%;
}

.slide-panel::-webkit-scrollbar {
    display: none; 
}