body { 
    margin: 0; 
    padding: 0; 
    font-family: 'Open Sans', sans-serif;
    /* overflow: hidden; */
}

#nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to right, #1abfdf, #4e17a8, #ff610f);
    color: white;
    text-align: center;
    padding: 5px 0; /* Aumenta el padding para mayor comodidad */
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra más sutil */
    border-bottom: 2px solid #ff610f;
}

#map { 
    position: absolute; 
    top: 70px;
    bottom: 0;
    width: 100%;
}